// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$white:#ffffff;
$blue:#409eff;
$hover:rgb(235,245,255);
$error:#F56C6C;
$success:#13CE66;

$black100:#000000;
$black80:#606266;
$black60:#909399;
$bigSize:16px;
$smallSize:12px;
// sidebar
$menuText:$black100;
$menuActiveText:$white;
$menuActiveBackground:$blue;

$subMenuActiveText:$black100; // https://github.com/ElemeFE/element/issues/12951

$menuBg:$white;
$menuHover:$hover;

$subMenuBg:$white;
$subMenuHover:$hover;

$sideBarWidth: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
：export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
